<div class="cards-container">
      {{#each producto}}
<div class="card">
   <article class="card__article">
      <div class="card__image-container">
         <h2 class="card__heading">{{name}}</h2>
         <img class="" src="{{img}}" alt="{{name}}">

      </div>
      <div class="card__content">
         <p class="card__description">{{description}}</p>
         <h3 class="card__price">$ {{precio}}</h3>
         <div class="group_button">
            <a class="card__agg-cart link-cart" href="#" id="comprar" >comprar</a>
            <form action="/{{_id}}?_method=DELETE" method="post" enctype="multipart/form-data">
            <input type="submit" value="Eliminar">
            </form>
         </div>
      </div>
   </article>
</div>
   {{/each}}
</div>
